---
layout: page
name: team
title: The Team
heading:
subheading: "[more text fits here]"
---

<div class="container text-center">
  <div class="card shadow-sm border-0 p-2 p-sm-3 mb-3 bg-light">
    <h1 class="card-title">The Team</h1>
    <h2 class="card-subtitle">[more text fits here]</h2>

    <div class="card-body row">
      {% for column in site.data[page.title] %}
      <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4">
       
        {% capture card-content %}
        <div class="card subcard clickable shadow-sm p-3 border-0">
          <h3 class="card-title">{{ column.role }}</h3>
          {% if column.img %}
          <img class="rounded mb-3 shadow-sm" src="{{ column.img }}" width="100%"/>
          {% endif %}
          <p class="card-subtitle text-center px-0 mb-2">{{ column.name }}</p>
        </div>
        {% endcapture %}
          
        {% if column.link %}
          <a href="{{ column.link }}" class="nodecor">
            {{ card-content }}
          </a>
        {% else %}
          {{ card-content }}
        {% endif %}
        
      </div>
      {% endfor %}
    </div>
  </div>
</div>