<!-- nav start -->
<div class="container nav-container">
  
  <nav class="navbar shadow-sm navbar-expand-sm navbar-light bg-light rounded my-4 my-sm-5">

<!--  toggle buttons (only on small screens)  -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
<!--  main navbar content  -->
    <div class="collapse navbar-collapse justify-content-center align-items-center text-center" id="navbar">
      <ul class="nav navbar-nav row">
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        
        <li class="nav-item">  
          <a class="nav-link" href="#">Events</a>
        </li>
        
        <li class="navbar-brand mx-3 p-0 d-none d-sm-block">
          <a class="nav-link" href="{{ site.baseurl }}/" style="height: 0">
            <img src="{{ site.baseurl }}/assets/img/hoppers-logo-256.png" width="112" class="navbar-logo rounded-circle clickable clickable-sm shadow-sm">
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#">Team</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#">Sponsors</a>
        </li>
      </ul>
    </div>
    <a href="{{ site.baseurl }}/" style="height: 0">
      <img src="{{ site.baseurl }}/assets/img/hoppers-logo-256.png" width="96" class="navbar-logo-sm rounded-circle clickable clickable-sm shadow-sm d-sm-none m-0">
    </a>
  </nav>
</div>
<!-- nav end -->
