---
---

$jwow-ease: transform 0.5s cubic-bezier(0, 1, 0.5, 1);

body {
  background-color: #eee;
}

.navbar-logo {
  margin: -50%;
  &-sm {
    position: absolute;
    right: 20px;
    top: -24px;
  }
}

.nav-container {
  margin-bottom: 4em;
}

.clickable {
  // standard effect for larger items
  transition: $jwow-ease;
  &:hover {
    transform: scale(1.03);
  }
  &:active {
    transform: scale(1.05);
  }
  // larger effect for smaller items
  &-sm {
    transition: $jwow-ease;
    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(1.15);
    }
  }
}

}

