---
---

$jwow-ease: transform 0.5s cubic-bezier(0, 1, 0.5, 1);

body {
  background-color: #eee;
}

.navbar-logo {
  margin: -50%;
  z-index: 1;
  &-sm {
    position: absolute;
    right: 20px;
    top: -20px;
    z-index: 1;
  }
}

//.nav-container {
//  margin-bottom: 4em;
//}

.clickable {
  // standard effect for larger items
  transition: $jwow-ease;
  &:hover {
    transform: scale(1.03);
  }
  &:active {
    transform: scale(1.05);
  }
  // larger effect for smaller items
  &-sm {
    transition: $jwow-ease;
    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(1.15);
    }
  }
}

.nodecor {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

h1, h3 {
  color: #3da08c;
}

h2, p {
  color: #333;
}

p {
  text-align: left;
}

.subcard {
  background-color: #fdfeff;
}
