<!DOCTYPE html>
<html>
  <head>
  {% include head.html %}
  </head>
  <body>
  
  {% include nav.html %}
  
  <div class="container text-center">
    <div class="card shadow-sm border-0 p-2 p-sm-3 mb-3 bg-light">
      {% if page.heading %}
      <h1 class="card-title">{{ page.heading }}</h1>
      {% else %}
      <h1 class="card-title">{{ page.title }}</h1>
      {% endif %}
      
      {% if page.subheading %}
      <h2 class="card-subtitle">{{ page.subheading }}</h2>
      {% endif %}
      
      {% comment %}
        determine alignment from page 
      {% endcomment %}
      {% if page.justify %}
        {% assign justify = page.justify %}
      {% else %}
        {% assign justify = "around" %}
      {% endif %}
      
      <div class="card-body row justify-content-{{ justify }}">
        {{ page.content }}
      </div>
      
    </div>
  </div>
  
  {% include footer.html %}
  </body>
</html>